/*


!src/iLogger.js
!src/iLogger.d.ts
!src/iLogger.min.js
!src/iLogger.min.js.map
!src/iLogger.test.js
!src/iLogger.test.d.ts
!src/iLogger.test.min.js
!src/iLogger.test.min.js.map

!src/logger.js
!src/logger.d.ts
!src/logger.min.js
!src/logger.min.js.map
!src/logger.test.js
!src/logger.test.d.ts
!src/logger.test.min.js
!src/logger.test.min.js.map

!src/iLoggerValidator.js
!src/iLoggerValidator.d.ts
!src/iLoggerValidator.min.js
!src/iLoggerValidator.min.js.map

!docs/
!docs/images/
!docs/images/*.png

!tests/

!rollup.config.js
!eslint.config.js

!README.md
!CHANGES.md
!package.json
!package-lock.json

!.gitignore